<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutPromotion.php">
<table>
<caption>Ajouter Promotion</caption>
<tr>
<td>Id</td>
<td><input type="number" name="id_promo"></td>
</tr>
<tr>
<td>Date Debut</td>
<td><input type="text" name="date_debut"></td>
</tr>
<tr>
<td>Date Fin</td>
<td><input type="text" name="date_fin"></td>
</tr>
<tr>
<td>Id categorie</td>
<td><input type="number" name="id_produit"></td>
</tr>
<tr>
<td>Nouveau Prix</td>
<td><input type="number" name="nouv_prix"></td>
</tr>

<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>